{% extends 'base.html.twig' %}

{% block title %}Détail de l'offre : {{offer.title}}{% endblock %}


{% block body %}
<div class="container">
    <div class="row my-5">
        <div class="col-md-12 text-center">
            <h2>Détail de l'offre !</h2>
            <a class="btn btn-secondary rounded-pill" href="/">Retour</a>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card m-2 p-3 shadow border-0">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h3 class="card-title h5">{{ offer.title }}</h3>
                        <span class="fs-6 fw-light">{{ offer.createdAt | date ("d/m/Y") }}</span>
                    </div>
                    <p class="card-subtitle text-muted h6">{{ offer.company }} - {{ offer.city }}</p>
                    {% if offer.contract %}
                    <p class=" fs-6 fw-light">{{ offer.contract.name }} / {{ offer.contractType.name }}</p>
                    {% endif %}
                    <p class="card-text">{{ offer.description }}</p>
                    <div class="d-flex justify-content-end">
                        <button class="btn btn-secondary rounded-pill">Postuler</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}