{% extends 'base.html.twig' %}

{% block title %}page admin{% endblock %}

{% block body %}
    {% include "components/_navbar.html.twig" %}

<div id="admin" class="container">
    <div class="row mt-5 pt-5">
        <div class="col-md-12 text-center mb-5">
            <h2>Page Admin</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-3 shadow border-0">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <h3>Liste des contrats</h3>
                        <a class="btn btn-primary rounded-pill px-3 py-1 fs-3" href="{{path("admin.contracts.create")}}">+</a>
                    </div>
                    <ul>
                        {% for contract in contractList %}
                        <hr>
                            <li>
                                <div class="d-flex flex-row justify-content-between">
                                <p>{{ contract.name }}</p>
                                    <div class="d-flex">
                                        <a href="{{ path("admin.contracts.edit", {id: contract.id}) }}" class="btn btn-warning rounded-pill text-light me-1">&#128221;</a>
                                        <a href="{{ path("admin.contracts.delete", {id: contract.id}) }}" class="btn btn-danger rounded-pill text-light">🗙</a>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    
                    </ul>
                </div>
            </div>

            <div class="card shadow border-0">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <h3>Liste des types de contrat</h3>
                        <a class="btn btn-primary rounded-pill px-3 py-1 fs-3" href="{{path("admin.contractsType.create")}}">+</a>
                    </div>
                    <ul>
                        {% for contractType in contractTypeList %}
                            <hr>
                            <li>
                                <div class="d-flex flex-row justify-content-between">
                                <p>{{ contractType.name }}</p>
                                    <div class="d-flex">
                                        <a href="{{ path("admin.contractsType.edit", {id: contractType.id}) }}" class="btn btn-warning rounded-pill text-light me-1">&#128221;</a>
                                        <a href="{{ path("admin.contractsType.delete", {id: contractType.id}) }}" class="btn btn-danger rounded-pill text-light">🗙</a>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card shadow border-0">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <h3>Liste des offres</h3>
                        <a class="btn btn-primary rounded-pill px-3 py-1 fs-3" href="{{path("admin.offers.create")}}">+</a>
                    </div>
                    <ul>
                    {% for offer in offerList %}
                    <hr>
                        <div class="accordion accordion-flush" id="accordionExample">
                            <div class="accordion-item">
                                <h3 class="accordion-header" id="heading{{offer.id}}">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{offer.id}}" aria-expanded="false" aria-controls="collapse{{offer.id}}">
                                    <div class="row">
                                        <span class="card-title h5">
                                            {{ offer.title }}
                                        </span>
                                        <span class="card-subtitle mb-2 text-muted h6">{{ offer.company }} / {{ offer.city }}</span>
                                    </div>
                                </button>
                                </h3>
                                <div id="collapse{{offer.id}}" class="accordion-collapse collapse" aria-labelledby="heading{{offer.id}}" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                    <div class="d-flex flex-column" >
                                        <span class="fs-6 fw-light">{{ offer.createdAt | date ("d/m/Y") }}</span>
                                        {% if offer.contract %}
                                            <p class=" fs-6 fw-light">{{ offer.contract.name }} / {{ offer.contractType.name }}</p>
                                        {% endif %}
                                        
                                    </div>
                                        <p class="card-text">{{ offer.description }}</p>
                                        <div class="d-flex justify-content-end">
                                            <a href="{{ path("admin.offers.edit", {id: offer.id}) }}" class="btn btn-warning rounded-pill text-light me-1">&#128221;</a>
                                            <a href="{{ path("admin.offers.delete", {id: offer.id}) }}" class="btn btn-danger rounded-pill text-light">🗙</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {# <hr>  
                        <div class="row">
                                <h3 class="card-title h5">{{ offer.title }}</h3>
                                <span class="card-subtitle mb-2 text-muted h6">{{ offer.company }} / {{ offer.city }}</span>
                        </div>
                        <div class="d-flex justify-content-between" >
                            <span class="fs-6 fw-light">{{ offer.createdAt | date ("d/m/Y") }}</span>
                            {% if offer.contract %}
                                <p class=" fs-6 fw-light">{{ offer.contract.name }} / {{ offer.contractType.name }}</p>
                            {% endif %}
                            <div>
                                <a href="{{ path("offers.show",{id: offer.id} )}}" class="btn btn-secondary rounded-pill">Voir l'offre</a>
                                <a href="{{ path("admin.offers.edit", {id: offer.id}) }}" class="btn btn-warning rounded-pill text-light">&#128221;</a>
                                <a href="{{ path("admin.offers.delete", {id: offer.id}) }}" class="btn btn-danger rounded-pill text-light">🗙</a>
                            </div>
                        </div> #}
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
