<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-color-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="{{ asset("build/Indeep-logo.png") }}" alt="Indeep Logo" class="img-fluid"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav mx-auto">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Admin
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="{{path("admin")}}">Accueil</a></li>
            <li><a class="dropdown-item" href="{{path("admin.offers.create")}}">Nouvelle offre</a></li>
            <li><a class="dropdown-item" href="{{path("admin.contracts.create")}}">Nouveau contrat</a></li>
            <li><a class="dropdown-item" href="{{path("admin.contractsType.create")}}">Nouveau type de contrat</a></li>
            
          </ul>
        </li>
      </div>
    </div>
  </div>
</nav>