{% extends 'base.html.twig' %}

{% block title %}Liste des ultilisateurs{% endblock %}

{% block body %}
    {% include "components/_navbar.html.twig" %}

    <div class="container">
        <div class="row my-5 pt-5">
            <div class="col-md-12 text-center">
                <h1>Liste des ultilisateurs</h1>
                <a href="{{ path('user_new') }}" class="btn btn-primary rounded-pill">Créer un utilisateur</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">            
                <table class="table">
                    <thead>
                        <tr>
                            <th>FirstName</th>
                            <th>LastName</th>
                            <th>Email</th>
                            <th>Roles</th>
                            <th>actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td class="align-middle">{{ user.firstName }}</td>
                            <td class="align-middle">{{ user.lastName }}</td>
                            <td class="align-middle">{{ user.email }}</td>
                            <td class="align-middle">{{  user.roles ? user.roles|json_encode : '' }}</td>
                            <td class="d-flex align-items-center">
                                <a href="{{ path('user_show', {'id': user.id}) }}" class="text-dark text-decoration-none fs-4">&#128065;</a>
                                <a href="{{ path('user_edit', {'id': user.id}) }}" class=" text-light mx-1">&#128221;</a>
                                {{ include('user/_delete_form.html.twig') }}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="7">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
